.input-box__error { 
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  width: 358px;
  padding-top: 5px;
}

@media screen and (max-width: 981px) {
  .input-box__error {
    width: 238px;
  }
}