.popup__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 0;
  background-color: rgba(0, 0, 0, .0);
  border: none;
  cursor: pointer;
  position: absolute;
  top: -38px;
  right: -35px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 981px) {
  .popup__close-button {
    top: -36px;
    right: 0;
  }
}