.popup__submit-button {
  width: 358px;
  height: 50px;
  border: none;
  background: #000000;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin: 18px 0 29px;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 981px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}