.element__delete-button {
  background-color: transparent;
  max-width: 18px;
  height: 19px;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.28px;
  align-items: center;
  justify-content: center;
}

.element__delete-button:hover {
  opacity: 0.5;
}