.element__like-button {
  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  align-self: center;
  min-width: 22px;
  height: 19px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}